<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="map" class="col-md-12 container-fluid" style="height:950px;">
    </div>
  </body>
  <script>
  var lat;
  var lon;
   
  navigator.geolocation.getCurrentPosition(coordenadas);
    function coordenadas(position) {
        this.lat = position.coords.latitude;
        this.lon = position.coords.longitude;
        var pasto = {lat: 1.228489, lng: -77.285937};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: pasto
        });
        var objConfigDir = {
          map : map,
        }

        var objConfijDs={
          origin: {lat: this.lat, lng: this.lon},
          destination: {lat: {{empresa.lat}}, lng: {{empresa.lng}}},
          travelMode: google.maps.TravelMode.DRIVING
        }

        var ds = new google.maps.DirectionsService();
        var dr = new google.maps.DirectionsRenderer(
          objConfigDir
        );

        ds.route(objConfijDs, fnRutear);

        function fnRutear(resultados, status) {
          if(status == "OK"){
            dr.setDirections(resultados)
          }else{
            alert(status);
          }
        }

      }
    </script>     
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAufs3m98ovPKTMtcRUXbAqQ0H1DpEUseQ&">
  </script>
 
</html>
