{% extends 'baseApp.html.twig' %}

{% block body %}

<div class="col-md-12">
    <h4 class="text-uppercase text-bold text-rg heading-line-below heading-line-below-short text-center">Imagenes</h4>
    <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
    {% for imagenProducto in producto.imagenes %}
        <li>
            <!-- START WIDGET -->
            <div class="col-md-12">
                <div class="tile-basic">
                    <div class="tile-image">
                        <img src="{{asset('uploads/producto/'~ imagenProducto.imagen)}}" alt="">
                    </div>
                </div>
            </div>
            <!-- END WIDGET -->
        </li>
    {% endfor %}
    </ul>
</div>
  <!-- MODAL PREVIEW -->
    <div class="modal fade" id="preview" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-cross"></span></button>
            
            <div class="modal-content">
                <div class="modal-body padding-5"></div>
            </div>
        </div>            
    </div>
    <!-- END MODAL PREVIEW -->
{% endblock %}
