{% extends 'baseApp.html.twig' %}

{% block body %}
<div class="container">
<div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="icon-bullhorn"></span>Ya casi eres parte de nuestra comunidad</h3>                                        
            </div>
            <div class="panel-body">                                    
                <p><strong>Para nosotros La seguridad es lo ams importante!</strong>
                <br>
                    En minutos nuestros administradores verificaran tus datos y activarán tu cuenta en Big App
                </p>
            </div>
            <div class="panel-footer">   
                <div class="panel-elements pull-right">
                    <a href="http://localhost/bigApp/bigApp/web/app_dev.php/login"  class="btn btn-primary pull-right">ok</a> 
                </div>                                        
            </div>
        </div>
    </div>
</div>

{% endblock %}